<md-input-container class="full-wid">
    <input mdInput placeholder="*Natureza econômica" 
           [mdAutocomplete]="economicActivityAuto" 
           [formControl]="control"
           (blur)="triggerValidationEvaluation()">
    <md-spinner mdSuffix *ngIf="pendingRequests > 0"></md-spinner>
    <md-error *ngFor="let error of controlErrors">
        {{error}}
    </md-error>
</md-input-container>
<md-autocomplete #economicActivityAuto="mdAutocomplete" 
                 [displayWith]="displayEntityFunction">
    <md-option *ngFor="let activity of filteredOptions | async" 
               [value]="activity">
        <span>{{ activity.description }}</span>
    </md-option>
</md-autocomplete>